[Unit]
Description=BirdEdge
After=network.target

# Reboot after more than 10 restarts in 15 minutes happened.
# This will happen after 10 minutes at the earliest, according to service configuration.
StartLimitBurst=10
StartLimitIntervalSec=900s
StartLimitAction=reboot

[Service]
WorkingDirectory=/root/BirdEdge/
ExecStart=/bin/bash -c "python3 ./birdedged.py -vv -mv"
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
